<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/listCSS.css}" >
<!--    <link rel="stylesheet" type="text/css" th:href="@{/css/listCSS1.css}" >-->
    <style>
        @font-face {
            font-family: 'Dovemayo_gothic';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2') format('woff2');
            font-weight: normal;
            font-style: normal;
        }
        *{
            font-family: 'Dovemayo_gothic';
        }
        body {
            padding-top: 50px;
            background-color: #E0E0E0;
        }
    </style>



</head>
<body>
<div th:include="header.html"></div>
<aside id="list-aside">
    <div class="menu">
        <label for="expand-menu"><div>MBTI 유형</div></label><hr>
        <input type="checkbox" id="expand-menu" name="expand-menu">
        <ul>
            <li><a th:href="@{/movie/analyst}" class="item"><div>분석가형(_NT_)</div></a></li>
            <li><a th:href="@{/movie/Diplomatic}" class="item"><div>외교관형(_NF_)</div></a></li>
            <li><a th:href="@{/movie/administrator}" class="item"><div>관리자형(_S_J)</div></a></li>
            <li><a th:href="@{/movie/explorer}" class="item"><div>탐험가형(_S_P)</div></a></li>

        </ul>
    </div>
</aside>
<section id="list-section">
    <h1>유형별 영화추천 페이지</h1>
    <h2>탐험가형(_S_P)</h2>
    <div class="button" id="button-back"> <!-- 유형별 MBTi 나열-->
        <button style="--clr:#39FF14"><span>#ISFP</span><i></i></button>
        <button style="--clr:#FF44CC"><span>#ISTP</span><i></i></button>
        <button style="--clr:#0FF0FC"><span>#ESFP</span><i></i></button>
        <button style="--clr:#8A2BE2"><span>#ESTP</span><i></i></button>
    </div>

    <span id="displayCount"></span>
    <table id="dataTableBody">
        <tr th:each="movie: ${movies.content}" >
            <td>
                <!--                <img th:src="@{${movie.URL}}">-->
<!--                <div class="list-info">-->
                    <img th:src="@{${movie.URL != null ? movie.URL : ''}}">
                    <div class="movie-box"></div>
                    <!--                    <h3 th:text="|제목: ${movie.name}|"></h3>-->
                    <h3 th:text="|제목: ${movie.name != null ? movie.name : ''}|"></h3>
                    <!--                    <h4 th:text="|개봉일: ${movie.opening}|"></h4>-->
                    <h4 th:text="|개봉일: ${movie.opening != null ? movie.opening : ''}|"></h4>
                    <!--                    <h4 th:text="|장르: ${movie.genre}|"></h4>-->
                    <h4 th:text="|장르: ${movie.genre != null ? movie.genre : ''}|"></h4>
<!--                </div>-->
            </td>
        </tr>
    </table>
    <div>
        <span>Pages:</span>
        <span th:each="pageNumber : ${#numbers.sequence(1, movies.totalPages)}">
    <a th:href="@{/movie/explorer(page=${pageNumber})}" th:text="${pageNumber}"></a>
</span>
    </div>
</section>
<div class="footer_wrap" th:include="footer.html"></div>


</body>
</html>