<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/listCSS.css}" >
<!--    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" >-->



</head>
<body>
<div th:include="header.html"></div>
<aside id="book-aside">
    <div class="menu">
        <label for="expand-menu"><div>MBTI 유형</div></label><hr>
        <input type="checkbox" id="expand-menu" name="expand-menu">
        <ul>
            <li><a th:href="@{/movie/analyst}" class="item"><div>분석가형(_NT_)</div></a></li>
            <li><a th:href="@{/movie/Diplomatic}" class="item"><div>외교관형(_NF_)</div></a></li>
            <li><a th:href="@{/movie/administrator}" class="item"><div>관리자형(_S_J)</div></a></li>
            <li><a th:href="@{/movie/explorer}" class="item"><div>탐험가형(_S_P)</div></a></li>

        </ul>
    </div>
</aside>
<section id="list-section">
    <h1>유형별 책추천 페이지</h1>
    <h2>분석가형(_NT_)</h2>
    <div class="button" id="button-back"> <!-- 유형별 MBTi 나열-->
        <button style="--clr:#39FF14"><span>#INTJ</span><i></i></button>
        <button style="--clr:#FF44CC"><span>#INTP</span><i></i></button>
        <button style="--clr:#0FF0FC"><span>#ENTP</span><i></i></button>
        <button style="--clr:#8A2BE2"><span>#ENTJ</span><i></i></button>
    </div>
    <select id="dataPerPage">
        <option value="10">10개씩보기</option>
        <option value="15">15개씩보기</option>
        <option value="20">20개씩보기</option>
    </select>


    <span id="displayCount"></span>
    <table id="dataTableBody">
        <tr th:each="movie, idx : ${movies}" th:if="${idx.index % 4 == 0}">
            <td>
                <img th:src="@{${movie.URL}}">
                <div class="list-info">
                    <h3 th:text="|제목: ${movie.name}|"></h3>
                    <h4 th:text="|개봉일: ${movie.opening}|"></h4>
                    <h4 th:text="|장르: ${movie.genre}|"></h4>
                </div>
            </td>
            <td th:if="${movies.size() > idx.index + 1}">
                <img th:src="@{${movies[idx.index + 1].URL}}">
                <div class="list-info">
                    <h3 th:text="|제목: ${movies[idx.index + 1].name}|"></h3>
                    <h4 th:text="|개봉일: ${movies[idx.index + 1].opening}|"></h4>
                    <h4 th:text="|장르: ${movies[idx.index + 1].genre}|"></h4>
                </div>
            </td>
            <td th:if="${movies.size() > idx.index + 2}">
                <img  th:src="@{${movies[idx.index + 2].URL}}">
                <div class="list-info">
                    <h3 th:text="|제목: ${movies[idx.index + 2].name}|"></h3>
                    <h4 th:text="|개봉일: ${movies[idx.index + 2].opening}|"></h4>
                    <h4 th:text="|장르: ${movies[idx.index + 2].genre}|"></h4>
                </div>
            </td>
            <td th:if="${movies.size() > idx.index + 3}">
                <img  th:src="@{${movies[idx.index + 3].URL}}">
                <div class="list-info">
                    <h3 th:text="|제목: ${movies[idx.index + 3].name}|"></h3>
                    <h4 th:text="|개봉일: ${movies[idx.index + 3].opening}|"></h4>
                    <h4 th:text="|장르: ${movies[idx.index + 3].genre}|"></h4>
                </div>
            </td>
        </tr>
    </table>
</section>
<div class="footer_wrap" th:include="footer.html"></div>

<!--// 초기 작업물-->
<!--<table>-->
<!--    <tr th:each="movie : ${movies}">-->
<!--        <td th:text="${movie.name}"></td>-->
<!--        <td th:text="${movie.URL}"></td>-->
<!--        <td><img th:src="@{${movie.URL}}"></td>-->
<!--    </tr>-->
<!--</table>-->

<!--// 페이징 1-->
<!--<div id="movieList">-->

<!--    <div class="row">-->
<!--        <div th:each="movie: ${movie}">-->
<!--            <div th:text="|Name = ${movie.name}, Genre = ${movie.genre}|"></div> &lt;!&ndash; 1. &ndash;&gt;-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="d-flex justify-content-center box-footer clearfix">-->
<!--        <ul th:style="${movie.number >= movie.totalPages ? 'display:none' : ''}"-->
<!--            class="pagination pagination-sm no-margin pull-right"-->
<!--            th:with="-->
<!--            start=${(movie.number / 10) * 10 + 1},-->
<!--            last=(${movie.number / 10 * 10 + 10 < movie.totalPages ? (movie.number / 10) * 10 + 10 : movie.totalPages})-->
<!--            "> &lt;!&ndash; 2. &ndash;&gt;-->
<!--            <li th:style="${movie.first ? 'display:none' : ''}">-->
<!--                <a class="btn btn-outline-black" th:href="@{/(page=${0})}">-->
<!--                    <span aria-hidden="true">&laquo;</span> &lt;!&ndash; 3. &ndash;&gt;-->
<!--                </a>-->
<!--                &nbsp;-->
<!--            </li>-->
<!--            <li th:style="${movie.number < 10 ? 'display:none' : ''}">-->
<!--                <a class="btn btn-outline-black" th:href="@{/(page=${movie.number / 10} * 10 - 1)}">-->
<!--                    <span aria-hidden="true">&lt;</span> &lt;!&ndash; 4. &ndash;&gt;-->
<!--                </a>-->
<!--                &nbsp;-->
<!--            </li>-->
<!--            <li th:each="page: ${#numbers.sequence(start, last)}">-->
<!--                <a class="btn btn-outline-black"-->
<!--                   th:text="${page}"-->
<!--                   th:href="@{/(page=${page - 1})}"-->
<!--                   th:classappend="${page == movie.number + 1} ? 'active'">-->
<!--                </a> &lt;!&ndash; 5. &ndash;&gt;-->
<!--                &nbsp;-->
<!--            </li>-->
<!--            <li th:style="${last == movie.totalPages ? 'display:none' : ''}">-->
<!--                <a th:href="@{/(page=${last})}">-->
<!--                    <span aria-hidden="true">&gt;</span> &lt;!&ndash; 6. &ndash;&gt;-->
<!--                </a>-->
<!--                &nbsp;-->
<!--            </li>-->
<!--            <li th:style="${movie.last ? 'display:none' : ''}">-->
<!--                <a class="btn btn-outline-black" th:href="@{/(page=${movie.totalPages - 1})}">-->
<!--                    <span aria-hidden="true">&raquo;</span> &lt;!&ndash; 7. &ndash;&gt;-->
<!--                </a>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </div>-->
<!--</div>-->

<!--<script th:inline="javascript">-->
<!--    /*<![CDATA[*/-->
<!--    let movie = /*[[ ${movie} ]]*/;-->
<!--    /*]]*/-->
<!--    console.log(movie);-->
<!--</script>-->


<!--// 페이징2-->
<!--<div th:if="${!moviePage.isEmpty()}">-->
<!--    <nav-->
<!--            th:with="-->
<!--                pageNumber = ${moviePage.pageable.pageNumber},-->
<!--                pageSize = ${moviePage.pageable.pageSize},-->
<!--                totalPages = ${moviePage.totalPages},-->
<!--                startPage = ${T(Math).floor(pageNumber / pageSize) * pageSize + 1},-->
<!--                tempEndPage = ${startPage + pageSize - 1},-->
<!--                endPage = (${tempEndPage > totalPages ? totalPages : tempEndPage})"-->
<!--            aria-label="Page navigation"-->
<!--    >-->
<!--        <ul class="pagination ">-->

<!--            <li th:classappend="${pageNumber + 1 <= pageSize + 1} ? 'disabled'" class="page-item">-->
<!--                <a class="page-link" th:href="@{/all(page=1)}">-->
<!--                    <span>&laquo;</span>-->
<!--                    <span class="sr-only">First</span>-->
<!--                </a>-->
<!--            </li>-->

<!--            <li th:classappend="${moviePage.first} ? 'disabled'" class="page-item">-->
<!--                <a class="page-link" th:href="${moviePage.first} ? '#' : @{/all(page=${#numbers.formatDecimal(startPage - pageSize, 0, -1)})}" aria-label="Previous">-->
<!--                    &lt;!&ndash; 개인적으로 int 로 변환하는 법을 몰라서 이렇게 길어졌습니다 &ndash;&gt;-->
<!--                    <span aria-hidden="true">&lt;</span>-->
<!--                    <span class="sr-only">Previous</span>-->
<!--                </a>-->
<!--            </li>-->

<!--            <li th:each="page: ${#numbers.sequence(startPage, endPage)}" th:classappend="${page == pageNumber + 1} ? 'active'" class="page-item">-->
<!--                <a th:text="${page}" class="page-link" th:href="@{/all(page=${page})}"></a>-->
<!--            </li>-->

<!--            <li th:classappend="${moviePage.last} ? 'disabled'" class="page-item">-->
<!--                <a class="page-link" th:href="${moviePage.last} ? '#' : @{/board(page=${#numbers.formatDecimal(startPage + pageSize, 0, -1)})}" aria-label="Next">-->
<!--                    <span aria-hidden="true">&gt;</span>-->
<!--                    <span class="sr-only">Next</span>-->
<!--                </a>-->
<!--            </li>-->

<!--            <li th:classappend=" ${T(Math).floor(totalPages/10)*10 <= startPage} ? 'disabled'" class="page-item">-->
<!--                <a class="page-link" th:href="@{/board(page=${totalPages})}">-->
<!--                    <span>&raquo;</span>-->
<!--                    <span class="sr-only">First</span>-->
<!--                </a>-->
<!--            </li>-->

<!--        </ul>-->
<!--    </nav>-->
<!--</div>-->

</body>
</html>