<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
<!--    <link rel="stylesheet" type="text/css" th:href="@{/css/listCSS.css}" >-->
<!--    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" >-->
    <style>
/* 팝업 스타일 시작 */
    * {
    padding:0;
    margin:0;
    box-sizing: border-box;
    }

    .btnWrap {
    width: 500px;
    margin: 100px auto;
    }
    .popup-button {
    width: 150px;
    height: 50px;
    padding: 10px 5px;
    }
    .modalWrap {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    display: none;
    }

    .modalBody {
    width: 500px;
    height: 300px;
    padding: 30px 30px;
    margin: 0 auto;
    border: 1px solid #777;
    background-color: #fff;
    }

    .closeBtn {
    float:right;
    font-weight: bold;
    color: #777;
    font-size:25px;
    cursor: pointer;
    }
/* 팝업 스타일 끝 */
    </style>


</head>
<body>
<div th:include="header.html"></div>
<aside id="book-aside">
    <div class="menu">
        <label for="expand-menu"><div>MBTI 유형</div></label><hr>
        <input type="checkbox" id="expand-menu" name="expand-menu">
        <ul>
            <li><a th:href="@{/movie/analyst}" class="item"><div>분석가형(_NT_)</div></a></li>
            <li><a th:href="@{/movie/Diplomatic}" class="item"><div>외교관형(_NF_)</div></a></li>
            <li><a th:href="@{/movie/administrator}" class="item"><div>관리자형(_S_J)</div></a></li>
            <li><a th:href="@{/movie/explorer}" class="item"><div>탐험가형(_S_P)</div></a></li>

        </ul>
    </div>
</aside>

<!-- 팝업창 관련 코드 -->
<!--<div class="btnWrap">-->
<!--    <button type="button" class="popup-button">모달 팝업 띄우기</button>-->
<!--</div>-->

<!--<div class="modalWrap">-->
<!--    <div class="modalBody">-->
<!--        <span class="closeBtn">&times;</span>-->
<!--        <img src="https://search.pstatic.net/common?type=o&amp;size=174x242&amp;quality=85&amp;direct=true&amp;src=https%3A%2F%2Fs.pstatic.net%2Fmovie.phinf%2F20230809_114%2F1691559109714F3JPy_JPEG%2Fmovie_image.jpg%3Ftype%3Dw640_2" onclick="OnloadImg(this.src)">-->
<!--        <p>modal-popup 입니다.</p>-->
<!--    </div>-->
<!--</div>-->

<section id="list-section">
    <h1>유형별 책추천 페이지</h1>
    <h2>분석가형(_NT_)</h2>
    <div class="button" id="button-back"> <!-- 유형별 MBTi 나열-->
        <button style="--clr:#39FF14"><span>#INTJ</span><i></i></button>
        <button style="--clr:#FF44CC"><span>#INTP</span><i></i></button>
        <button style="--clr:#0FF0FC"><span>#ENTP</span><i></i></button>
        <button style="--clr:#8A2BE2"><span>#ENTJ</span><i></i></button>
    </div>
    <select id="dataPerPage">
        <option value="10">10개씩보기</option>
        <option value="15">15개씩보기</option>
        <option value="20">20개씩보기</option>
    </select>

    <!-- 새로운 형식 만져보기 -->
    <div>
        <ul th:each="movie: ${moviePage.content}">
            <li>
                <div>
                <img th:src="@{${movie.URL != null ? movie.URL : ''}}">
                </div>
                <div>
                <h3 th:text="|제목: ${movie.name != null ? movie.name : ''}|"></h3>
                </div>
                <div>
                <h4 th:text="|개봉일: ${movie.opening != null ? movie.opening : ''}|"></h4>
                <h4 th:text="|장르: ${movie.genre != null ? movie.genre : ''}|"></h4>
                </div>
                <div>
                    예매하기
                </div>
                <div class="btnWrap">
                    <button typ="button" class="popup-button" data-modal="modal1">정보</button>
                </div>

                <div id="modal1" class="modalWrap">
                    <div class="modalBody">
                        <span class="closeBtn">&times;</span>
                        <img th:src="@{${movie.URL != null ? movie.URL : ''}}" onclick="OnloadImg(this.src)">
                        <p th:text="|장르: ${movie.genre != null ? movie.genre : ''}|"></p>
                        <p th:text="|줄거리: ${movie.information != null ? movie.information : ''}|"></p>
                    </div>
                </div>
            </li>
            <li>
                <div>
                    <img th:src="@{${movie.URL != null ? movie.URL : ''}}">
                </div>
                <div>
                    <h3 th:text="|제목: ${movie.name != null ? movie.name : ''}|"></h3>
                </div>
                <div>
                    <h4 th:text="|개봉일: ${movie.opening != null ? movie.opening : ''}|"></h4>
                    <h4 th:text="|장르: ${movie.genre != null ? movie.genre : ''}|"></h4>
                </div>
                <div>
                    예매하기
                </div>
                <div class="btnWrap">
                    <button typ="button" class="popup-button" data-modal="modal2">정보</button>
                </div>
                <div id="modal2" class="modalWrap">
                    <div class="modalBody">
                        <span class="closeBtn">&times;</span>
                        <img th:src="@{${movie.URL != null ? movie.URL : ''}}" onclick="OnloadImg(this.src)">
                        <p th:text="|장르: ${movie.genre != null ? movie.genre : ''}|"></p>
                        <p th:text="|줄거리: ${movie.information != null ? movie.information : ''}|"></p>
                    </div>
                </div>
            </li>
        </ul>

        <ul th:each="boxMoviePage: ${boxMoviePage.content}">
            <li>
                <div>
                    <img th:src="@{${boxMoviePage.boxURL != null ? boxMoviePage.boxURL : ''}}">
                </div>
                <div>
                    <h3 th:text="|제목: ${boxMoviePage.movieNm != null ? boxMoviePage.movieNm : ''}|"></h3>
                </div>
                <div>
                    <h4 th:text="|개봉일: ${boxMoviePage.openDt != null ? boxMoviePage.openDt : ''}|"></h4>
                </div>
                <div>
                    예매하기
                </div>
                <div class="btnWrap">
                    <button type="button" class="popup-button" data-modal="modal3"
                            th:data-title="${boxMoviePage.movieNm}"
                            th:data-info="${boxMoviePage.boxInfo}"
<!--                            th:data-url="${boxMoviePage.boxURL}"-->
                    >정보</button>
                </div>

                <div id="modal3" class="modalWrap">
                    <div class="modalBody">
                        <span class="closeBtn">&times;</span>
                        <img th:src="@{${boxMoviePage.boxURL != null ? boxMoviePage.boxURL : ''}}" onclick="OnloadImg(this.src)">
                        <p th:text="|줄거리: ${boxMoviePage.boxInfo != null ? boxMoviePage.boxInfo : ''}|"></p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
<div class="footer_wrap" th:include="footer.html"></div>

<script src="/js/movie/popup.js"></script>
</body>
</html>