<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:each="movie : ${moviePage.content}">
<h4 th:text="|개봉일: ${movie.code != null ? movie.code : ''}|"></h4>
<h4 th:text="|개봉일: ${movie.name != null ? movie.name : ''}|"></h4>
<h4 th:text="|개봉일: ${movie.productionYear != null ? movie.productionYear : ''}|"></h4>
<h4 th:text="|개봉일: ${movie.opening != null ? movie.opening : ''}|"></h4>
<h4 th:text="|개봉일: ${movie.productionState != null ? movie.opening : ''}|"></h4>
<h4 th:text="|개봉일: ${movie.productionNation != null ? movie.productionNation : ''}|"></h4>
<h4 th:text="|개봉일: ${movie.genre != null ? movie.genre : ''}|"></h4>
</div>
</body>
</html>