<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.0/dist/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
    <style>
      canvas {
        max-width: 900px;
        margin: 0 auto;
      }
    </style>
</head>
<body>
<canvas id="myChart" width="400" height="200"></canvas>
<script>
  var ctx = document.getElementById('myChart');
  var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ['ENFP', 'ENTP', 'INFP', 'INTP', 'ENTJ', 'ESTJ', 'INTJ', 'ISTJ', 'ENFJ', 'INFJ', 'ISFJ', 'ESFJ', 'ISTP', 'ESFP', 'ISFP', 'ESTP'],
      datasets: [{
        label: '',
        data: [133, 122, 112, 100, 91, 89, 86, 84, 75, 69, 65, 59, 56, 48, 47, 45],
        backgroundColor: [
          'rgba(204,102,102, 0.2)',
          'rgba(102, 153, 153, 0.2)',
          'rgba(255,153,153, 0.2)',
          'rgba(102, 204, 204 , 0.2)',
          'rgba(153, 204, 204, 0.2)',
          'rgba(051,153,102, 0.2)',
          'rgba(153,255,255, 0.2)',
          'rgba(102,204,153, 0.2)',
          'rgba(204,153,153, 0.2)',
          'rgba(255,204,204, 0.2)',
          'rgba(051,204,153, 0.2)',
          'rgba(102,255,204, 0.2)',
          'rgba(204,153,051, 0.2)',
          'rgba(204,153,102, 0.2)',
          'rgba(255,204,102, 0.2)',
          'rgba(2255, 204, 153, 0.2)'
        ],
        borderColor: [
          'rgba(204,102,102, 1)',
          'rgba(102, 153, 153, 1)',
          'rgba(255,153,153, 1)',
          'rgba(102, 204, 204 , 1)',
          'rgba(153, 204, 204, 1)',
          'rgba(051,153,102, 1)',
          'rgba(153,255,255, 1)',
          'rgba(102,204,153, 1)',
          'rgba(204,153,153, 1)',
          'rgba(255,204,204, 1)',
          'rgba(051,204,153, 1)',
          'rgba(102,255,204, 1)',
          'rgba(204,153,051, 1)',
          'rgba(204,153,102, 1)',
          'rgba(255,204,102, 1)',
          'rgba(2255, 204, 153, 1)',
        ],
        borderWidth: 1
      }]
    },
    options: {
      plugins: {
        legend: {
          display: false
        },
        scales: {
          yAxes: [{
          }]
        }
      }
    }
  });
</script>
</body>
</html>