<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.0/dist/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
    <style>
      canvas {
        max-width: 900px;
        margin: 0 auto;
      }
    </style>
</head>
<body>
<canvas id="myChart" width="300" height="300"></canvas>
<script>
  var ctx = document.getElementById('myChart');
  var myChart = new Chart(ctx, {
      plugins: [ChartDataLabels],
      type: 'pie',
      data: {
      labels: ['N','S'],
      datasets: [{
        data: [61,38],
        backgroundColor: [
            'rgb(255,255,102,0.2)',
            'rgb(255,255,153,0.2)',
        ],
        borderColor: [
            'rgb(255,255,102,0.5)',
            'rgb(255,255,153,0.5)',
        ],
        borderWidth: 3,

      }],
    },
      options: {
          plugins: {
              datalabels: {
                  font:{size : 18, weight: 'bold'},
                  color:'gray',
                  formatter: function(value, context) {
                      return context.dataIndex + Math.round(value) + '%';
                  }


              },
                  scales: {
                      yAxes: [{}]
                  }
              }
          }
  });
</script>
</body>
</html>