<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>MBTI</title>
  <link rel="stylesheet" href="css/popup.css"
  th:href="@{/templates/css/popup.css}">
</head>
<body>
<tr th:each="i:${information}">
  <button class="openBtn"><h3 th:text ="|${i.getIndicate()}|"></h3></button>
  <div class="modal hidden">
    <div class="bg"></div>
    <div class="modalBox">
      <h4 th:text="|${i.getPersonality()}|"></h4>
      <p th:text="|${i.getKeyword1()}|"></p>
      <p th:text="|${i.getKeyword2()}|"></p>
      <p th:text="|${i.getKeyword3()}|"></p>
      <p th:text="|${i.getKeyword4()}|"></p>
      <p th:text="|${i.getKeyword5()}|"></p>
      <p th:text="|${i.getKeyword6()}|"></p>
      <p th:text="|${i.getKeyword7()}|"></p>
      <p th:text="|${i.getKeyword8()}|"></p>
      <p th:text="|${i.getKeyword9()}|"></p>
      <p th:text="|${i.getKeyword10()}|"></p>
      <button class="closeBtn">닫기</button>
    </div>
  </div>
</tr>
<script src = "js/popup.js" th:src="@{/templates/js/popup.js}"></script>
</body>
</html>