<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mbti.demo.mybatis.DramaMapper">
    <select id="getAllDramas" resultType="Drama">
        SELECT "번호", "공연제목", "시작일", "종료일", "장소","장르","단체" FROM drama
    </select>
</mapper>


