<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace에 Mapper 인터페이스를 지정해야 한다. -->
<mapper namespace="mbti.demo.mybatis.MovieMapper">


    <select id="findByGenre" resultType="movie">
        select
        영화코드 AS code,
        국문영화명 AS name,
        제작연도 AS productionYear,
        개봉일 AS opening,
        제작상태 AS productionState,
        제작국가 AS productionNation,
        영화장르 AS genre,
        대표제작국가명 AS representativeNation,
        대표장르명 AS representativeGenre
        from Movie
        where genre LIKE '%액션%'
--         ORDER BY
    </select>

    <select id="findAll" resultType="Movie">
--         select
        select
        영화코드 AS code,
        국문영화명 AS name,
        제작연도 AS productionYear,
        개봉일 AS opening,
        제작상태 AS productionState,
        제작국가 AS productionNation,
        영화장르 AS genre,
        대표제작국가명 AS representativeNation,
        대표장르명 AS representativeGenre
--         select *
        from Movie
        WHERE 영화장르 LIKE '%액션%'

    </select>
</mapper>