<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mbti.demo.mybatis.MuseumMapper">
    <select id="getAllMuseums" resultType="museum">
        SELECT "기관명", "제목", "자원명", "설명" FROM museum
    </select>
</mapper>


