<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mbti.demo.mybatis.MuseumMapper">
    <resultMap id="museumMap" type="Museum">
        <id property="museum" column="시설명" />
        <result property="x" column="위도" />
        <result property="y" column="경도" />
        <result property="picture" column="사진" javaType="byte[]" jdbcType="BLOB" />
    </resultMap>

    <select id="getAllMuseums" resultMap="museumMap">
        SELECT "시설명", "위도", "경도", "사진" FROM museum
    </select>
</mapper>
